<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <display-name>org.brixcms-demo</display-name>

    <!--+
    | WICKET CONFIG
    +-->
    <filter>
        <filter-name>wicket.brix-demo</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter
        </filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>org.brixcms.demo.web.WicketApplication</param-value>
        </init-param>
        <init-param>
            <param-name>wicket.configuration</param-name>
            <param-value>deployment</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>wicket.brix-demo</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>


    <!--+
    | WEB DAV SUPPORT
    +-->
    <servlet>
        <servlet-name>SimpleWebDav</servlet-name>
        <servlet-class>org.brixcms.demo.web.dav.SimpleServlet</servlet-class>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/webdav</param-value>
        </init-param>
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleWebDav</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JcrWebDav</servlet-name>
        <servlet-class>org.brixcms.demo.web.dav.JcrServlet</servlet-class>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/jcrwebdav</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JcrWebDav</servlet-name>
        <url-pattern>/jcrwebdav/*</url-pattern>
    </servlet-mapping>
</web-app>