body {
	font-family: Verdana;
	font-size: 79%;
}

td.tile-selector { }
td.tile-selector ul { list-style:none; }
td.tile-selector ul li { padding: 4px 0 4px 4px; white-space: nowrap; text-align:right;}
td.tile-selector ul li a span { padding-right: 8px; }
td.tile-selector ul li.selected { background: #fc5830; }
td.tile-selector ul li.selected a { color: white; }
td.tile-editor { background: #fc5830; width:100%;}
td.tile-editor>div { margin: 4px; padding: 4px 4px 4px 12px; background:white;  }


li.feedbackPanelERROR { color: red; font-weight: bold; }

/* TABBED PANEL ***************************************************************** */
div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("tabs/bg.gif") repeat-x bottom;
  line-height:normal;
  }

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
  
div.tabpanel div.tab-row li {
  float:left;
  background:url("tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
  
div.tabpanel div.tab-row a {
  display:block;
  background:url("tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color:#eee;
  }
  
div.tab-panel {
	clear: left;
}
  
  
div.tabpanel div.tab-row li.selected {
  background-image:url("tabs/left_on.gif");
  }
  
div.tabpanel div.tab-row li.selected a {
  background-image:url("tabs/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
/* END TABBED PANEL ************************************************************* */